USE [master]
GO
/****** Object:  Database [dai-pizza]    Script Date: 21/4/2023 10:26:09 ******/
CREATE DATABASE [dai-pizza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dai-pizza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dai-pizza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dai-pizza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dai-pizza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dai-pizza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dai-pizza]
GO
/****** Object:  User [alumno]    Script Date: 21/4/2023 10:26:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[pizza]    Script Date: 21/4/2023 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pizza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[libreGluten] [bit] NULL,
	[importe] [float] NULL,
	[descripcion] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
